.gradient-feature {
  background: linear-gradient(
    266deg,
    #fae2b6 17.15%,
    #ef90b8 60.53%,
    #b684f0 86.55%
  );
}

.grid-layout {
  display: grid;
  grid-template-areas:
    'a b c'
    'd b c'
    'd e c'
    'd e f'
    'g g h';
}

.item-grid {
  height: 100%;
  width: 100%;
}

.icon-feature {
  display: flex;
  justify-content: end;
  align-items: end;
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.item7 {
  grid-area: g;
}
.item8 {
  grid-area: h;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(-10px);
  height: 100%;
  &:hover {
    .flip-card-front {
      transform: rotateY(-180deg) translateZ(5px);
    }
    .flip-card-back {
      transform: rotateY(0deg) translateZ(30px);
    }
  }
  &-back,
  &-front {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  &-front {
    position: relative;
    transform: rotateY(0deg) translateZ(5px);
  }
  &-back {
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    top: 12px;
    left: 12px;
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    transform: rotateY(180deg) translateZ(-5px);
    border-radius: 24px !important;
    border: 1px solid #0b081e2e !important;
  }
}

@media screen and (max-width: 991.9px) {
  .grid-layout {
    display: flex;
  }
  .item-grid {
    min-height: 250px;
  }
  .icon-feature {
    width: 300px;
  }
}
