.notion-app{
  background-color: transparent !important;

  .notion-frame{
    align-items: center;
  }

  .notion-page-cover-wrapper{
    display: none;
  }  

  .notion-page-has-cover {
    padding-top: 0;
}

  .notion-asset-wrapper,
  .notion-asset-wrapper-video{
    padding: 30px 0;
  }

  .notion-link, .notion-link>span{
    opacity: 1;
    
    &:hover{
      color: #7767F6;
      border-color: #7767F6;
    }
  }
  .header-notion{
    max-width: 700px;
    width: 100%;
    .btn-forward{
      padding: 4px 10px 4px 4px !important;
      &:hover{
        background-color: #3B3752 !important;
      }
    }
  }
}