.gradient-text-leading{
    line-height: 1.3;
    font-size: 52px !important;
    background: linear-gradient(266deg, #FAE2B6 5.93%, #EF90B8 44.82%, #B684F0 68.16%);
}

.animation-card{
    transition: .2s;
    animation-duration: 1s;
    animation-name: identifier;

    @keyframes identifier {
        from {
            width: 200px;
        }
        to {
            width: 320px;
        }
        
    }
}