.caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.description {
  font-size: 20px !important;
  @media (max-width: 767.9px) {
    font-size: 16px !important;
  }
}

.gradient-text {
  background: linear-gradient(270deg, #FAE2B6 -5.65%, #EF90B8 57.47%, #B684F0 90.18%) ;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; 
}

.ant-typography {
  font-weight: 500;
  font-size: 16px;
}

h1.ant-typography {
  font-size: 70px !important;
  font-weight: 700 !important;
  @media (max-width: 767.9px) {
    font-size: 40px !important;
  }
}

h2.ant-typography {
  font-size: 52px !important;
  font-weight: 700 !important;
  @media (max-width: 767.9px) {
    font-size: 24px !important;
  }
}

h3.ant-typography {
  font-size: 30px !important;
  font-weight: 700 !important;
  @media (max-width: 767.9px) {
    font-size: 20px !important;
  }
}

h4.ant-typography {
  font-size: 24px !important;
  font-weight: 700 !important;
  @media (max-width: 767.9px) {
    font-size: 16px !important;
  }
}