.gradient-banner-1{
    font-size: 70px !important;
    background: linear-gradient(270deg, #FAE2B6 -5.65%, #EF90B8 57.47%, #B684F0 90.18%)
}
.gradient-banner-2{
    font-size: 70px !important;
    background: linear-gradient(273deg, #FAE2B6 36.03%, #EF90B8 92.68%, #B684F0 129.11%) ;
}

.italic-text{
    font-family: 'Cormorant Garamond';
    font-size: 22px;
    font-style: italic;   
    color: #F3F3F3;
}