.blog-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  .ellipse-bottom {
    position: absolute;
    width: 160%;
    left: 50%;
    top: -320px;
    transform: translateX(-50%);
  }

  .banner-card{
    display: flex;
    flex-direction: row;
    gap: 32px;
    border: 0;

    &:not(.card-transparent) {
      background: none !important;
    }

    .ant-card-cover img{
      width: 520px;
      height: 280px;
      border-radius: 28px;
    }

    .banner-body{
      .timeline{
        margin-bottom: 32px;
      }
    }
  }

  .blog-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 0;

    &:not(.card-transparent) {
      background: none !important;
    }

    .ant-card-cover img{
      width: 100%;
      height: 200px;
      border-radius: 20px;
    }
  }

  .blog-tabs{
    .tab{
      border: 0;
      padding: 7px 16px;
    }
    .active-tab{
      border-radius: 20px;
      padding: 7px 16px;
      border: 1px solid #7767F6;
    }
  }

  .blog-tabs{
    gap: 24px;
    .ant-tabs-nav::before{
        border: none !important
    }
    .ant-tabs-tab{
        margin-left: 12px;
        border-radius: 20px !important;
        padding: 7px 16px;
    }
    .ant-tabs-tab-active{
      border: 1px solid #7767F6 !important;
        .ant-tabs-tab-btn{
            color: white !important;
        }
    }
    .ant-tabs-tab-btn{
        color: #A0A0A1;
    }
    .ant-tabs-tab-disabled{
        border: none !important
    }
    .ant-tabs-ink-bar{
        display: none !important;
    }
  }

  .btn-read-more{
    background-color: #3B3752 !important;
    border-color: #3B3752;
  }
  
}

@media (max-width: 786px) {
  .blog-page{
    .ellipse-bottom {
      width: 280%;
      top: -350px;
    }
  
    .banner-card{
      flex-direction: column;
  
      .ant-card-cover img{
        width: 100%;
        height: 300px;
      }
  
      h4{
        font-size: 24px;
      }
  
      .banner-body{
        width: 100%;
        row-gap: 24px;
        .timeline{
          margin-bottom: 0;
        }
      }
    }

    .blog-card{
      align-items: center;
      .ant-card-cover{
        max-width: 446px;
        width: 100%;
        img{
          height: 250px;
        }
      }

      .ant-card-body{
        max-width: 446px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 488px) {
  .blog-page{
    .banner-card{
      .ant-card-cover img{
        width: 100%;
        height: 200px;
        border-radius: 20px;
      }
    }

    .blog-card{
      .ant-card-cover img{
        height: 200px;
      }
    }
  }
}